*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: auto;
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

nav select {
    margin: 0 0.5rem;
}

nav button {
    padding: 0 20px;
}

main {
    background-color: aquamarine;
    padding: 5rem 0;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center
}

.field {
   width: 500px;
   margin: auto;
  
}

.cells {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .selected {
      background-color: cornflowerblue;
      color: white;
  }

  footer {
      height: 70px;
      font-size: 20px;
      display: flex;
      align-items: center;
  }